<!DOCTYPE html>
<html lang="en">

<!--Shared layout across html pages-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IS413_Assignment_5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-3">Book Store</span>
    </div>
    <div class="row m-1 p-1">
        <div id="wut" class="col-3">
            <h4>Book List</h4>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
